# No dot-directories except github/vscode
.*/
!.vscode/
!.github/

*.code-workspace
node_modules
ha-anker-solix-ref/
nbproject

# npm package files
iobroker.*.tgz

Thumbs.db
.commitinfo

# i18n intermediate files
admin/i18n/flat.txt
admin/i18n/*/flat.txt

python/authcache/
python/.venv/
python/site-packages/
python/**/__pycache__/
*.pyc